/*
  CSS Reset: Elimina los estilos por defecto del navegador para tener
  un punto de partida consistente.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #app {
  height: 100%;
  width: 100%;
}